button {
  background-colour: #b7e4c7;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1em;
  padding: 0.5em 1em;

  &:hocus {
    background-colour: #95d5b2;
  }
}
