select {
  background-colour: #b7e4c7;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1em;
  margin-block-start: 0.5em;
  margin-block-end: 2em;
  padding: 0.5em 1em;

  &:hocus {
    background-colour: #95d5b2;
  }
}
