h1,
h2 {
  font-weight: 700;

  @supports (font-variation-settings: normal) {
    font-variation-settings: 'wght' 700;
  }
}

h2 {
  margin-top: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
}

.loading {
  /* TODO animation here */
}
