/* Colour palette: https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */

body {
  background-colour: #d8f3dc;
  color: #081c15;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  justify-content: center;

  @supports (font-variation-settings: normal) {
    font-family: 'InterVariable', sans-serif;
    font-variation-settings: 'wght' 400;
  }
}
